.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
Thumbs.db
db.sqlite3
media/
staticfiles/
acceptance_test_results/
test_files/
VSSC_QDPC_Documentation.pdf
*.pdf
*.batt
Dockerfile
docker-compose.yml