{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Component List</h4>
            </div>
            <div class="page-btn">
                <a href="addcomponent.html" class="btn btn-added" id="add-component"><img
                        src="{% static 'assets/img/icons/plus.svg' %}" alt="img" class="me-1">Add Component</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
                                <span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}"
                                    alt="img"></a>
                        </div>
                    </div>
                </div>

                <div class="comp-sec-wrapper">
                    <section class="comp-section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card bg-white">
                                    <div class="card-body">
                                        <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                                            <li class="nav-item"><a class="nav-link active" href="#solid-justified-tab1"
                                                    data-bs-toggle="tab">Active</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" href="#solid-justified-tab2"
                                                    data-bs-toggle="tab">Inactive</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane show active" id="solid-justified-tab1">
                                                <div class="table-responsive">
                                                    <table class="table datanew">
                                                        <thead>
                                                            <tr>
                                                                <th>Component</th>
                                                                <th>Sources</th>
                                                                <th>Suppliers</th>
                                                                <th>Grade</th>
                                                                <th>Shelf Life</th>
                                                                <th>Acceptance Test</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
														{% for batch in batches %}
														{% if batch.is_active %}
                                                            <tr>
                                                                <td class="clickable-row"
                                                                    data-batch-id="{{ batch.id }}">
                                                                    <a>{{ batch.name }}</a>
                                                                </td>
                                                                <td class="clickable-row"
                                                                    data-batch-id="{{ batch.id }}">
                                                                    {% for source in batch.source_names %}
                                                                    {{ source }}{% if not forloop.last %}, {% endif %}
                                                                    {% endfor %}
                                                                </td>
                                                                <td class="clickable-row"
                                                                    data-batch-id="{{ batch.id }}">
                                                                    <a>
                                                                        {% for supplier in batch.supplier_names %}
                                                                        {{ supplier }}{% if not forloop.last %}, {% endif %}
                                                                        {% endfor %}
                                                                    </a>
                                                                </td>
                                                                <td class="clickable-row" data-batch-id="{{ batch.id }}">
                                                                    {% for grade in batch.grade_names %}
                                                                    {{ grade }}{% if not forloop.last %}, {% endif %}
                                                                    {% endfor %}
                                                                </td>
                                                                <td class="clickable-row"
                                                                    data-batch-id="{{ batch.id }}">
                                                                    {{ batch.shelf_life_value }} 
																	{{ batch.shelf_life_unit }}
                                                                </td>
                                                                <td class="clickable-row"
                                                                    data-batch-id="{{ batch.id }}">
                                                                    {% for test_name in batch.acceptance_test_names %}
                                                                    {{ test_name }}{% if not forloop.last %}, {% endif %}
                                                                    {% endfor %}
                                                                </td>
                                                                <td>
                                                                    <div
                                                                        class="status-toggle d-flex justify-content-between align-items-center">
                                                                        <input type="checkbox" id="{{ batch.name }}"
                                                                            class="check status-checkbox"
                                                                            data-id="{{ batch.name }}" 
																			{% if batch.is_active %} checked {% endif %}>
                                                                        <label for="{{ batch.name }}"
                                                                            class="checktoggle">checkbox</label>
                                                                    </div>
                                                                </td>
                                                                <td>

                                                                    <a class="me-3 view-user-btn" data-bs-toggle="modal" data-bs-target="#compage" data-batch-id="{{ batch.id }}">
                                                                        <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
                                                                    </a>

                                                                    <a id="delete-btn" data-id="{{ batch.id }}">
                                                                        <img src="{% static 'assets/img/icons/delete.svg' %}"
                                                                            alt="img">
                                                                    </a>
                                                                </td>
                                                            </tr>
														{% endif %}
														{% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="solid-justified-tab2">
                                                <div class="table-responsive">
                                                    <table class="table datanew">
                                                        <thead>
                                                            <tr>
                                                                <th>Component</th>
                                                                <th>Sources</th>
                                                                <th>Suppliers</th>
                                                                <th>Grade</th>
                                                                <th>Shelf Life</th>
                                                                <th>Acceptance Test</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for batch in batches %}
                                                            {% if not batch.is_active %}
                                                            <tr>
                                                                <td class="clickable-row"
                                                                    data-batch-id="{{ batch.id }}"> <a>{{ batch.name }}
                                                                    </a></td>
                                                                <td class="clickable-row"
                                                                    data-batch-id="{{ batch.id }}">
                                                                    {% for source in batch.source_names %}
                                                                    {{ source }}{% if not forloop.last %}, {% endif %}
                                                                    {% endfor %}
                                                                </td>
                                                                <td class="clickable-row"
                                                                    data-batch-id="{{ batch.id }}"> <a>
                                                                        {% for supplier in batch.supplier_names %}
                                                                        {{ supplier }}{% if not forloop.last %}, {% endif %}
                                                                        {% endfor %}
                                                                    </a>
                                                                </td>
                                                                <td class="clickable-row" data-batch-id="{{ batch.id }}">
                                                                    {% for grade in batch.grade_names %}
                                                                    {{ grade }}{% if not forloop.last %}, {% endif %}
                                                                    {% endfor %}
                                                                </td>
                                                                <td class="clickable-row"
                                                                    data-batch-id="{{ batch.id }}">
																	{{ batch.shelf_life_value }} {{ batch.shelf_life_unit }}</td>
                                                                <td class="clickable-row"
                                                                    data-batch-id="{{ batch.id }}">
                                                                    {% for test_name in batch.acceptance_test_names %}
                                                                    {{ test_name }}{% if not forloop.last %}, {% endif %}
                                                                    {% endfor %}
                                                                </td>

                                                                <td>
                                                                    <div
                                                                        class="status-toggle d-flex justify-content-between align-items-center">
                                                                        <input type="checkbox" id="{{ batch.name }}"
                                                                            class="check status-checkbox"
                                                                            data-id="{{ batch.name }}" {% if not batch.is_active %} unchecked {% endif %}>
                                                                        <label for="{{ batch.name }}"
                                                                            class="checktoggle">checkbox</label>
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <!-- <a class="me-3 view-user-btn" href="javascript:void(0);"
                                                                        data-bs-toggle="modal" data-bs-target="#compage"
                                                                        data-batch-id="{{ batch.id }}">
                                                                        <i class="fa fa-eye"></i>
                                                                    </a> -->
                                                                    
                                                                    <a class="me-3 view-user-btn" data-bs-toggle="modal" data-bs-target="#compage" data-batch-id="{{ batch.id }}">
                                                                        <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
                                                                    </a>

                                                                    <a id="delete-btn" data-id="{{ batch.id }}">
                                                                        <img src="{% static 'assets/img/icons/delete.svg' %}"
                                                                            alt="img">
                                                                    </a>

                                                                </td>
                                                            </tr>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="compage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Component View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <div class="container mt-2">
                    <form class="row">
                        <input type="hidden" id="component_id" name="component_id" value="">
                        <div class="col-6 mt-2">
                            <label for="username" class="form-label">Component</label>
                            <input type="text" class="form-control" id="component" name="component"
                                placeholder="Component" readonly>
                        </div>
                        <div class="col-6 mt-2">
                            <label for="sources" class="form-label">Sources</label>
                            <select class="select" id="sources" name="sources[]" multiple>
                                {% for sour in all_sources %}
                                <option value="{{ sour.id }}">{{ sour.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6 mt-2">
                            <label for="suppliers" class="form-label">Suppliers</label>
                            <select class="select" id="suppliers" name="suppliers[]" multiple>
                                {% for sup in all_suppliers %}
                                <option value="{{ sup.id }}">{{ sup.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6 mt-2">
                            <label for="grade" class="form-label">Grade</label>
                            <select class="select" id="grade" name="grade[]" multiple>
                                {% for grade in all_grades %}
                                <option value="{{ grade.id }}">{{ grade.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6 mt-2">
                            <label for="shelf life" class="form-label">Shelf Life</label>
                            <input type="text" class="form-control" id="shelf_life" name="shelf_life"
                                placeholder="shelf life">
                        </div>
                        <div class="col-6 mt-2">
                            <label for="status" class="form-label">Shelf Life Period</label>
                            <select name="unit" id="unit" class="form-control">
                                <option value="days">Days</option>
                                <option value="months">Months</option>
                            </select>
                        </div>

                        <div class="d-flex justify-content-center mt-3">
                            <button type="button" class="btn btn-primary btn-sm" id="updateComponent">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DELTE CONFIRMATION MODAL -->
<div id="confirmDeleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center ">
                <p>Are you sure you want to delete this Component?</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-danger text-right" id="confirm-delete">Delete</button>
                <button type="button" class="btn btn-secondary text-right" id="cancel-delete"
                    data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $('#add-component').click(function (event) {
        event.preventDefault();
        window.location.href = "{% url 'component-add' %}";
    });

    function populateSourceDropdown(all_sources, selectedSources) {
        const sourceSelect = $('#sources');
        sourceSelect.empty();
        all_sources.forEach(source => {
            sourceSelect.append(`<option value="${source.id}">${source.name}</option>`);
        });
        selectedSources.forEach(sourceId => {
            $(`#sources option[value="${sourceId}"]`).prop('selected', true);
        });
        sourceSelect.trigger('change');
    }

    function populateSuppliersDropdown(all_suppliers, selectedSuppliers) {
        const supplierSelect = $('#suppliers');
        supplierSelect.empty();
        all_suppliers.forEach(supplier => {
            supplierSelect.append(`<option value="${supplier.id}">${supplier.name}</option>`);
        });
        selectedSuppliers.forEach(supplierId => {
            $(`#suppliers option[value="${supplierId}"]`).prop('selected', true);
        });
        supplierSelect.trigger('change');
    }

    function populateGradeDropdown(all_grades, selectedGrades) {
        const gradeSelect = $('#grade');
        gradeSelect.empty();
        all_grades.forEach(grade => {
            gradeSelect.append(`<option value="${grade.id}">${grade.name}</option>`);
        });
        selectedGrades.forEach(gradeId => {
            $(`#grade option[value="${gradeId}"]`).prop('selected', true);
        });
        gradeSelect.trigger('change');
    }

    $('.view-user-btn').on('click', function () {
        $('#saveUserChanges').show();
        const baseUrl = '/component/component-list/';
        const batchId = $(this).data('batch-id');
        const componentUpdateUrl = `${baseUrl}${batchId}/`;

        $.ajax({
            type: 'GET',
            url: componentUpdateUrl,
            success: function (response) {
                const comData = response.data;

                // Populate the form fields in the modal
                $('#component').val(comData.name);
                $('#shelf_life').val(comData.shelf_life_value);
                $('#unit').val(comData.shelf_life_unit);
                $('#component_id').val(comData.id);

                // Populate dropdowns
                populateSourceDropdown(comData.all_sources, comData.sources.map(source => source.id));
                populateSuppliersDropdown(comData.all_suppliers, comData.suppliers.map(supplier => supplier.id));
                populateGradeDropdown(comData.all_grades, comData.grades.map(grade => grade.id));

                $('#compage').modal('show');
            },
            error: function (error) {
                console.error('Failed to fetch component data:', error);
            }
        });
    });

    $(document).ready(function () {
        $('#updateComponent').click(function (event) {
            event.preventDefault();

            var componentId = $('#component_id').val(); 
            var name = $('#component').val();
            var grades = Array.from(document.getElementById('grade').selectedOptions).map(option => Number(option.value)) || [];
            var shelf_life_value = parseInt($('#shelf_life').val(), 10);
            var shelf_life_unit = $('#unit').val();
            var sources = Array.from(document.getElementById('sources').selectedOptions).map(option => Number(option.value)) || [];
            var suppliers = Array.from(document.getElementById('suppliers').selectedOptions).map(option => Number(option.value)) || [];

            const componentData = {
                'name': name,
                'grades': grades,
                'shelf_life_value': shelf_life_value,
                'shelf_life_unit': shelf_life_unit,
                'sources': sources,
                'suppliers': suppliers,
            };

            $.ajax({
                type: 'PUT',
                url: '/component/component-list/' + componentId + '/', // Adjust URL as needed
                data: JSON.stringify(componentData),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.isSuccess) {
                        window.location.href = "/success-page/";
                    } else {
                        $('#error-message').text(response.message).show();
                    }
                },
                error: function () {
                    $('#error-message').text('An error occurred. Please try again.').show();
                }
            });
        });
    });

    //REDIRECT JQUERY

    $(document).on('click', '.clickable-row', function () {
        var batchId = $(this).data('batch-id'); // Get the batch ID from the row's data attribute
        var baseUrl = '/component/component-detailed-view/'; // Adjust the base URL as needed
        var detailUrl = baseUrl + batchId + '/'; // Construct the URL to the detailed view page

        // Redirect to the detailed view page
        window.location.href = detailUrl;
    });

    $(document).on('click', '#delete-btn', function (e) {
        e.preventDefault(); // Prevent default link behavior

        var componentId = $(this).data('id'); // Get component ID from data attribute
        if (!componentId) {
            alert('component Id not found.');
            return;
        }

        // Store the component in the modal's confirm button for reference
        $('#confirm-delete').data('id', componentId);

        // Show the confirmation modal
        $('#confirmDeleteModal').modal('show');
    });

    // Handle the confirmation of deletion
    $(document).on('click', '#confirm-delete', function () {
        var rawId = $(this).data('id'); // Retrieve component ID from the modal's confirm button

        if (!rawId) {
            alert('Component ID not found.');
            return;
        }

        // Construct the URL dynamically
        const baseUrl = "{% url 'component-list' %}";
        const deleteUrl = `${baseUrl}${componentId}/`;

        // Perform the AJAX request for deletion
        $.ajax({
            url: deleteUrl,
            type: 'POST',
            data: JSON.stringify({ 'component_Id': componentId }),
            contentType: 'application/json',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}', // Add CSRF token header
            },
            success: function (response) {
                if (response.success) {
                    console.log('Delete successful, reloading page...');

                    // Close the modal after success
                    $('#confirmDeleteModal').modal('hide');

                    // Reload the page immediately after successful deletion
                    window.location.reload(true); // Force reload (bypass cache)
                } else {
                    alert('Error: ' + response.message);
                    console.error('Delete failed: ' + response.message);
                }
            },
            error: function (xhr, status, error) {
                alert('An error occurred: ' + error);
                console.error('AJAX error:', error);
            }
        });
    });

    // Handle the cancel button to close the modal
    $(document).on('click', '#cancel-delete, .close', function () {
        $('#confirmDeleteModal').modal('hide'); // Explicitly hide the modal on cancel
    });

    $(document).on('click', '.status-checkbox', function () {
        var componentId = String($(this).data('id')); // Get the product ID
        var isActive = $(this).is(':checked'); // Get the checkbox state (true/false)

        if (componentId) {
			const baseUrl = "/component/update-component-status/";
			const updateUrl = `${baseUrl}${componentId}/`; // URL for updating component status
	
            $.ajax({
                url: updateUrl,
                type: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token
                },
                data: {
                    status: isActive // Send the boolean value directly
                },
                success: function (response) {
                    if (response.success) {
                        window.location.reload(); // Reload the page
                    } else {
                        alert('Failed to update status: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Error updating status: ' + error);
                }
            });
        } else {
			alert(' component ID not found.');
        }
    });
</script>
{% endblock %}