{% extends 'index.html' %}
{% block content %}
{% load static %}
        <div class="page-wrapper">
            <div class="content">
                <div class="page-header">
                    <div class="page-title">
                        <h4>Dashboard</h4>
                    </div>
                </div>
                <div class="comp-sec-wrapper">
                    <h4>Work in progress!</h4>
                    <!-- dashboard contents here -->
                </div>
            </div>
        </div>
{% endblock %}
