{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Product Add</h4>
            </div>
        </div>
        
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- Section-1: Name, Category, Owner -->
                    <div class="col-lg-12 mb-4">
                        <h5>Section-1</h5>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="name" name="name">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Category</label>
                            <select id="category" name="category" class="form-control">
                                <option>Choose Category</option>
                                {% for cat in category %}
                                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Owner</label>
                            <select id="product_owner" name="product_owner" class="form-control">
                                <option>Choose owner</option>
                                {% for own in owner %}
                                    <option value="{{ own.id }}">{{ own.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Section-2: End Use, Specific Use -->
                    <div class="col-lg-12 mt-4 mb-4">
                        <h5>Section-2</h5>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <label>End Use</label>
                            <select id="end_uses" name="end_uses" class="form-control">
                                <option>Choose end use</option>
                                {% for end in enduse %}
                                    <option value="{{ end.id }}">{{ end.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Specific Use</label>
                            <input type="text" id="specific_use" name="specific_use">
                        </div>
                    </div>

                    <!-- Section-3: Processing Agencies, Testing Agencies -->
                    <div class="col-lg-12 mt-4 mb-4">
                        <h5>Section-3</h5>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Processing Agencies</label>
                            <select id="processing_agencies" name="processing_agencies" class="form-control">
                                <option>Choose Processing Agencies</option>
                                {% for pg in processingagency %}
                                    <option value="{{ pg.id }}">{{ pg.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Testing Agencies</label>
                            <select id="testing_agencies" name="testing_agencies" class="form-control">
                                <option>Choose Testing Agencies</option>
                                {% for tg in testingagency %}
                                    <option value="{{ tg.id }}">{{ tg.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Section-4: Shelf Life Value, Shelf Life Unit -->
                    <div class="col-lg-12 mt-4 mb-4">
                        <h5>Section-4</h5>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="shelf_life_type">Shelf Life</label>
                            <select id="shelf_life_type" name="shelf_life_type" class="form-control">
                                <option value="">Choose Type</option>
                                <option value="tbd">TBD (To Be Decided)</option>
                                <option value="not_applicable">Not Applicable</option>
                                <option value="add_duration">Add Duration</option>
                            </select>  
                                              </div>
                    </div>

                    <div class="col-md-6 col-lg-4" id="shelf_life_duration_group" style="display: none;">
                        <div class="form-group">
                            <label for="shelf_life_value">Shelf Life Duration</label>
                            <input type="number" id="shelf_life_value" name="shelf_life_value" class="form-control" placeholder="Enter duration">
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4" id="shelf_life_period_group" style="display: none;">
                        <div class="form-group">
                            <label for="unit">Shelf Life Period</label>
                            <select id="unit" name="unit" class="form-control">
                                <option value="days">Days</option>
                                <option value="months">Months</option>
                            </select>
                        </div>
                    </div>


                 <!-- Section-5: Drawing Applicable, Drawing Number, Drawing Status -->
<div class="col-lg-12 mt-4 mb-4">
    <h5>Section-5</h5>
</div>
<div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
        <label>Drawing Applicable</label>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="drawing_applicable_yes" name="drawing_applicable" value="yes"> 
            <label class="form-check-label" for="drawing_applicable_yes">Check if Applicable</label>
            {% comment %} <label>
                <input type="radio" id="drawing_applicable_no" name="drawing_applicable" value="no"> No
            </label> {% endcomment %}
        </div>
    </div>
</div>

<!-- Container for Drawing Number -->
<div class="col-lg-4 col-sm-6 col-12" id="drawing-number-container" style="display: none;">
    <div class="form-group">
        <label>Drawing Number</label>
        <input type="text" id="drawing_number" name="drawing_number">
    </div>
</div>

<!-- Container for Drawing Title -->
<div class="col-lg-4 col-sm-6 col-12" id="drawing-title-container" style="display: none;">
    <div class="form-group">
        <label>Drawing Title</label>
        <input type="text" id="drawing_title" name="drawing_title">
    </div>
</div>

<!-- Container for Drawing Status -->
<div class="col-lg-4 col-sm-6 col-12" id="drawing-status-container" style="display: none;">
    <div class="form-group">
        <label>Drawing Status</label>
        <select id="drawing_status" name="drawing_status" class="form-control">
            <option>Choose Status</option>
            <option value="Provisional">Provisional</option>
            <option value="CCB approved">CCB approved</option>
        </select>
    </div>
</div>

<!-- Container for Drawing Document -->
<div class="col-lg-4 col-sm-6 col-12" id="drawing-document-container">
    <div class="form-group">
        <label>Upload Drawing Document</label>
        <input type="file" id="drawing_document" name="drawing_document" class="form-control mt-2">
    </div>
</div>








                    <!-- Section-6: Components, Raw Materials, Consumables, Equipment Used -->
                    <div class="col-lg-12 mt-4 mb-4">
                        <h5>Section-6</h5>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Components</label>
                            <select id="components" name="components" class="form-control">
                                <option>Choose components</option>
                                {% for comp in components %}
                                    <option value="{{ comp.id }}">{{ comp.component_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Raw Materials</label>
                            {% comment %} <input type="text" id="raw_materials" name="raw_materials"> {% endcomment %}
                            <select id="raw_material" name="raw_material" class="form-control">
                                <option>Choose rawmaterials</option>
                                {% for rwm in rawmaterial %}
                                    <option value="{{ rwm.id }}">{{ rwm.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Consumable</label>
                            {% comment %} <input type="text" id="consumable" name="consumable"> {% endcomment %}
                            <select id="consumable" name="consumable" class="form-control">
                                <option>Choose consumables</option>
                                {% for con in consumable %}
                                    <option value="{{ con.id }}">{{ con.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Equipment Used</label>
                            {% comment %} <input type="text" id="equipment_used" name="equipment_used"> {% endcomment %}
                            <select id="equipment" name="equipment" class="form-control">
                                <option>Choose equipment</option>
                                {% for equ in equipment %}
                                    <option value="{{ equ.id }}">{{ equ.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Section-7: Method of Identification, Prefix, Suffix -->
                    <div class="col-lg-12 mt-4 mb-4">
                        <h5>Section-7</h5>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Method of Identification</label>
                            <select id="identification_method" name="identification_method" class="form-control">
                                <option value="">Select a method</option>
                                <option value="Batch Number">Batch Number</option>
                                <option value="Identification Number">Identification Number</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Prefix</label>
                            <input type="text" id="prefix" name="prefix">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Suffix</label>
                            <input type="text" id="suffix" name="suffix">
                        </div>
                    </div>

                    <!-- Section-8: Add Documents -->
                    <div class="col-lg-12 mt-4 mb-4">
                        <h5>Section-8</h5>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="document_category"class="form-label">Add Documents</label>
                            <div class="form-check">
                            <input type="checkbox" class="form-check-input"id="document_category" name="document_category" >
                            <label class="form-check-label" for="document_category">Check if Product Document</label>
                        </div>
                    </div>
                    </div>
                    

                    <!-- Submit and Cancel Buttons -->
                    <div class="col-lg-12 mt-4 mb-4">
                        <a href="product.html" id="submit-btn" class="btn btn-submit me-2">Submit</a>
                        <a href="{% url 'product-add' %}" class="btn btn-cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Document Modal -->
<div class="modal fade" id="addProductDocumentModal" tabindex="-1" aria-labelledby="addDocumentLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="addDocumentForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDocumentLabel">Add Product Document</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <!-- Hidden field for Product -->
                    <input type="hidden" id="productField" name="product">
                    <!-- Title Field -->
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title"
                            placeholder="Enter document title" required>
                    </div>

                    <!-- Category Dropdown -->
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select class="form-select" id="category" name="category" required>
                            <option>Choose Document Type</option>
                            {% for doc_type in document_types %}
                            <option value="{{ doc_type.id }}">{{ doc_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Issue Number Field -->
                    <div class="mb-3">
                        <label for="issue_no" class="form-label">Issue Number</label>
                        <input type="text" class="form-control" id="issue_no" name="issue_no"
                            placeholder="Enter issue number" required>
                    </div>

                    <!-- Revision Number Field -->
                    <div class="mb-3">
                        <label for="revision_no" class="form-label">Revision Number</label>
                        <input type="text" class="form-control" id="revision_no" name="revision_no"
                            placeholder="Enter revision number" required>
                    </div>

                    <!-- Release Date Field -->
                    <div class="mb-3">
                        <label for="release_date" class="form-label">Release Date</label>
                        <input type="date" class="form-control" id="release_date" name="release_date" required>
                    </div>

                    <!-- Approved By Field -->
                    <div class="mb-3">
                        <label for="approved_by" class="form-label">Approved By</label>
                        <input type="text" class="form-control" id="approved_by" name="approved_by"
                            placeholder="Enter approver's name" required>
                    </div>

                    <!-- Document Upload Field -->
                    <div class="mb-3">
                        <label for="document" class="form-label">Upload Document</label>
                        <input type="file" class="form-control" id="document" name="document" required>
                    </div>

                    <!-- Validity Field -->
                    <div class="mb-3">
                        <label for="validity" class="form-label">Validity (Years)</label>
                        <input type="number" class="form-control" id="validity" name="validity"
                            placeholder="Enter validity in years" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save Document</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        // Handle checkbox click to show modal
        $('#document_category').change(function () {
            if ($(this).prop('checked')) {
                // Open the modal when checked
                $('#addProductDocumentModal').modal('show');
            }
        });

        $('#shelf_life_duration_group').hide();
        $('#shelf_life_period_group').hide();

        $('#shelf_life_type').change(function () {
            const selectedOption = $(this).val();

            if (selectedOption === 'add_duration') {
                // Show duration and period inputs
                $('#shelf_life_duration_group').show();
                $('#shelf_life_period_group').show();
            } else {
                // Hide duration and period inputs
                $('#shelf_life_duration_group').hide();
                $('#shelf_life_period_group').hide();
            }
        });

        // Initially hide all drawing-related fields
        $('#drawing-number-container').hide();
        $('#drawing-title-container').hide();
        $('#drawing-status-container').hide();
        $('#drawing-document-container').hide();

        // Show/hide Drawing Number and Drawing Status based on Drawing Applicable selection
        $('input[name="drawing_applicable"]').change(function () {
            if ($(this).is(':checked')) {  // Check if the checkbox is checked
                $('#drawing-number-container').show();
                $('#drawing-title-container').show();
                $('#drawing-status-container').show();
                $('#drawing-document-container').show();
            } else {
                $('#drawing-number-container').hide();
                $('#drawing-title-container').hide();
                $('#drawing-status-container').hide();
                $('#drawing-document-container').hide();
                $('#drawing_number').val('');
                $('#drawing_title').val('');
                $('#drawing_status').val('');
                $('#drawing_document').val('');
            }
        });

        // Function to get CSRF token from cookies
        function getCSRFToken() {
            let csrfToken = null;
            if (document.cookie) {
                document.cookie.split(';').forEach(function (cookie) {
                    const [key, value] = cookie.trim().split('=');
                    if (key === 'csrftoken') {
                        csrfToken = value;
                    }
                });
            }
            return csrfToken;
        }

        // Handle product form submission
        $('#submit-btn').click(function (event) {
            event.preventDefault();

            const productData = new FormData();
            productData.append('name', $('#name').val());
            productData.append('category', $('#category').val());
            productData.append('product_owner', $('#product_owner').val());
            productData.append('end_uses', $('#end_uses').val());
            productData.append('specific_use', $('#specific_use').val());
            productData.append('shelf_life_value', $('#shelf_life_value').val());
            productData.append('shelf_life_unit', $('#unit').val());
            productData.append('shelf_life_type', $('#shelf_life_type').val());
            productData.append('processing_agencies', $('#processing_agencies').val());
            productData.append('testing_agencies', $('#testing_agencies').val());
            productData.append('components', $('#components').val());
            productData.append('raw_material', $('#raw_material').val());
            productData.append('consumable', $('#consumable').val());
            productData.append('equipment', $('#equipment').val());
            productData.append('drawing_number', $('#drawing_number').val());
            productData.append('drawing_title', $('#drawing_title').val());
            productData.append('drawing_status', $('#drawing_status').val());
            productData.append('drawing_applicable', $('input[name="drawing_applicable"]:checked').val());
            productData.append('identification_method', $('#identification_method').val());  
            productData.append('prefix', $('#prefix').val());
            productData.append('suffix', $('#suffix').val());


            const drawingDocument = $('#drawing_document')[0].files[0];
            if (drawingDocument) {
                productData.append('drawing_document', drawingDocument);
            }

            const csrfToken = getCSRFToken();
            $.ajax({
                url: '{% url "product-add" %}',
                type: 'POST',
                data: productData,
                contentType: false,
                processData: false,
                headers: {
                    'X-CSRFToken': csrfToken
                },
                success: function (response) {
                    if (response.success) {
                        window.location.href = "{% url 'product-view' %}";
                    } else {
                        $('#error-message').text(response.message).show();
                    }
                },
                error: function (error) {
                    alert('Error adding product: ' + error.responseText);
                }
            });
        });

        // Handle document form submission
        $('#addDocumentForm').submit(function (e) {
            e.preventDefault();
            const formData = new FormData(this);
            formData.append('product', $('#name').val());

            const csrfToken = getCSRFToken();
            $.ajax({
                url: '{% url "add-product-document" %}',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                headers: {
                    'X-CSRFToken': csrfToken
                },
                success: function (response) {
                    if (response.success) {
                        $('#addProductDocumentModal').modal('hide');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Error adding document. Please try again.');
                }
            });
        });
    });
</script>
{% endblock %}

