{% extends 'index.html' %}
{% block content %}
{% load static %}
		<div class="page-wrapper">
			<div class="content">
				<div class="page-header">
					<div class="page-title">
						<h4>Product List</h4>
						<h6>Manage your products</h6>
					</div>
					<div class="page-btn">
						<a href="{% url 'product-add' %}" class="btn btn-added"><img
								src="{% static 'assets/img/icons/plus.svg' %}" alt="img" class="me-1">Add New
							Product</a>
					</div>
				</div>

				<!-- /product list -->
				<div class="card">
					<div class="card-body">
						<div class="table-top">
							<div class="search-set">
								<div class="search-path">
									<a class="btn btn-filter" id="filter_search">
										<img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
										<span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
									</a>
								</div>
								<div class="search-input">
									<a class="btn btn-searchset"><img
											src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
								</div>
							</div>
							<div class="wordset">
								<ul>
									<li>
										<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
												src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
									</li>
									<li>
										<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
												src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
									</li>
									<li>
										<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
												src="{% static 'assets/img/icons/printer.svg' %}	" alt="img"></a>
									</li>
								</ul>
							</div>
						</div>

						<div class="comp-sec-wrapper">
							<!-- Tabs -->
							<section class="comp-section">
								<div class="section-header">
									<div class="line"></div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="card bg-white">
											<div class="card-header">
												<h5 class="card-title">Solid justified</h5>
											</div>
											<div class="card-body">
												<ul class="nav nav-tabs nav-tabs-solid nav-justified">
													<li class="nav-item"><a class="nav-link active"
															href="#solid-justified-tab1" data-bs-toggle="tab">Active</a>
													</li>
													<li class="nav-item"><a class="nav-link"
															href="#solid-justified-tab2"
															data-bs-toggle="tab">Inactive</a></li>
												</ul>
												<div class="tab-content">
													<div class="tab-pane show active" id="solid-justified-tab1">
														<div class="table-responsive">
															<table class="table datanew">
																<thead>
																	<tr>
																		<th>Name</th>
																		<th>Category</th>
																		<th>End Use</th>
																		<th>Specific Use</th>

																		{% comment %} <th>Drawing number</th>
																		<th>Method of identification</th>
																		<th>Batch size</th>
																		<th>Prefix</th>
																		<th>Suffix</th> {% endcomment %}
																		<th>Status</th>
																		<th>Action</th>
																	</tr>
																</thead>
																<tbody>
																	{% for prod in product %}
																	{% if prod.is_active %}
																	<tr>
																		<td>{{ prod.name }}</td>
																		<td>{{ prod.category.name }}</td>
																		{% comment %} <td>{{ prod.drawing_number }}</td>
																		<td>{{ prod.identification_method }}</td>
																		<td>{{ prod.batch_size }}</td>
																		<td>{{ prod.prefix }}</td>
																		<td>{{ prod.suffix }}</td> {% endcomment %}
																		<td>{{ prod.end_uses.name }}</td>
																		<td>{{ prod.specific_use}}</td>
	
																		<td>
																			<div
																				class="status-toggle d-flex justify-content-between align-items-center">
																				<input type="checkbox"
																					id="{{ prod.name }}"
																					class="check status-checkbox"
																					data-id="{{ prod.name }}" {% if
																					prod.is_active %} checked {% endif
																					%}>
																				<label for="{{ prod.name }}"
																					class="checktoggle">checkbox</label>
																			</div>
																		</td>
																		<td>
																			<a class="me-3 view-product-btn" data-product-id="{{ prod.id }}" data-bs-toggle="modal" data-bs-target="#viewProductModal">
																				<img src="{% static 'assets/img/icons/eye.svg' %}" alt="View">
																			</a>
																			<a class="me-3" href="editproduct.html">
																				<img src="{% static 'assets/img/icons/edit.svg' %}"
																					alt="img">
																			</a>
																			<a id="delete-btn"
																				data-id="{{ prod.name }}">
																				<img src="{% static 'assets/img/icons/delete.svg' %}"
																					alt="img">
																			</a>
																		</td>
																	</tr>
																	{% endif %}
																	{% endfor %}
																</tbody>
															</table>
														</div>
													</div>
													<div class="tab-pane" id="solid-justified-tab2">
														<div class="table-responsive">
															<table class="table datanew">
																<thead>
																	<tr>
																		<th>Name</th>
																		<th>Category</th>
																		<th>End Use</th>
																		<th>Specific Use</th>

																		{% comment %} <th>Drawing number</th>
																		<th>Method of identification</th>
																		<th>Batch size</th>
																		<th>Prefix</th>
																		<th>Suffix</th> {% endcomment %}
																		<th>Status</th>
																		<th>Action</th>
																	</tr>
																</thead>
																<tbody>
																	{% for prod in product %}
																	{% if not prod.is_active %}
																	<tr>
																		<td>{{ prod.name }}</td>
																		<td>{{ prod.category.name }}</td>
																		<td>{{ prod.end_uses.name }}</td>
																		<td>{{ prod.specific_use}}</td>
	
																		{% comment %} <td>{{ prod.drawing_number }}</td>
																		<td>{{ prod.identification_method }}</td>
																		<td>{{ prod.batch_size }}</td>
																		<td>{{ prod.prefix }}</td>
																		<td>{{ prod.suffix }}</td> {% endcomment %}
																		<td>
																			<div
																				class="status-toggle d-flex justify-content-between align-items-center">
																				<input type="checkbox"
																					id="{{ prod.name }}"
																					class="check status-checkbox"
																					data-id="{{ prod.name }}" {% if not
																					prod.is_active %} unchecked {% endif
																					%}>
																				<label for="{{ prod.name }}"
																					class="checktoggle">checkbox</label>
																			</div>
																		</td>
																		<td>
																			<a class="me-3" data-bs-toggle="modal"
																				data-bs-target="#productpage">
																				<img src="{% static 'assets/img/icons/eye.svg' %}"
																					alt="img">
																			</a>
																			<a class="me-3" href="editproduct.html">
																				<img src="{% static 'assets/img/icons/edit.svg' %}"
																					alt="img">
																			</a>
																			<a id="delete-btn"
																				data-id="{{ prod.name }}">
																				<img src="{% static 'assets/img/icons/delete.svg' %}"
																					alt="img">
																			</a>
																		</td>
																	</tr>
																	{% endif %}
																	{% endfor %}
																</tbody>
															</table>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>

							</section>
							<!-- /Tabs -->
						</div>


					</div>
				</div>
				<!-- /product list -->
			</div>
		</div>
	</div>

	<!-- VIEW PRODUCT MODAL -->
		<div class="modal fade" id="viewProductModal" tabindex="-1" aria-labelledby="viewProductLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="viewProductLabel">View Product Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
			</div>
			<div class="modal-body">
				<div class="container">
				<div class="row">
					<!-- Basic Fields -->
					<div class="col-6 mb-2"><label>Name</label><input type="text" id="view_name" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Category</label><input type="text" id="view_category" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Owner</label><input type="text" id="view_owner" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Processing Agencies</label><input type="text" id="view_processing_agencies" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Drawing Applicable</label><input type="text" id="view_drawing_applicable" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>End Uses</label><input type="text" id="view_end_uses" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Specific Use</label><textarea id="view_specific_use" class="form-control" readonly></textarea></div>
					<div class="col-6 mb-2"><label>Shelf Life Value</label><input type="text" id="view_shelf_life_value" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Shelf Life Unit</label><input type="text" id="view_shelf_life_unit" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Testing Agencies</label><input type="text" id="view_testing_agencies" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Components</label><input type="text" id="view_components" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Raw Materials</label><input type="text" id="view_rawmaterial" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Consumables</label><input type="text" id="view_consumable" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Equipment</label><input type="text" id="view_equipment" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Processes</label><input type="text" id="view_process" class="form-control" readonly></div>

					<!-- Drawings Section -->
					<div class="col-12 mt-4">
					<h5>Drawings</h5>
					<div id="view_drawings" class="border p-2 rounded bg-light"></div>
					</div>

					<!-- Documents Section -->
					<div class="col-12 mt-4">
					<h5>Product Documents</h5>
					<div id="view_documents" class="border p-2 rounded bg-light"></div>
					</div>

				</div>
				</div>
			</div>
			</div>
		</div>
		</div><div class="modal fade" id="viewProductModal" tabindex="-1" aria-labelledby="viewProductLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="viewProductLabel">View Product Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
			</div>
			<div class="modal-body">
				<div class="container">
				<div class="row">
					<!-- Basic Fields -->
					<div class="col-6 mb-2"><label>Name</label><input type="text" id="view_name" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Category</label><input type="text" id="view_category" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Owner</label><input type="text" id="view_owner" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Processing Agencies</label><input type="text" id="view_processing_agencies" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Drawing Applicable</label><input type="text" id="view_drawing_applicable" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>End Uses</label><input type="text" id="view_end_uses" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Specific Use</label><textarea id="view_specific_use" class="form-control" readonly></textarea></div>
					<div class="col-6 mb-2"><label>Shelf Life Value</label><input type="text" id="view_shelf_life_value" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Shelf Life Unit</label><input type="text" id="view_shelf_life_unit" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Testing Agencies</label><input type="text" id="view_testing_agencies" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Components</label><input type="text" id="view_components" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Raw Materials</label><input type="text" id="view_rawmaterial" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Consumables</label><input type="text" id="view_consumable" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Equipment</label><input type="text" id="view_equipment" class="form-control" readonly></div>
					<div class="col-6 mb-2"><label>Processes</label><input type="text" id="view_process" class="form-control" readonly></div>

					<!-- Drawings Section -->
					<div class="col-12 mt-4">
					<h5>Drawings</h5>
					<div id="view_drawings" class="border p-2 rounded bg-light"></div>
					</div>

					<!-- Documents Section -->
					<div class="col-12 mt-4">
					<h5>Product Documents</h5>
					<div id="view_documents" class="border p-2 rounded bg-light"></div>
					</div>

				</div>
				</div>
			</div>
			</div>
		</div>
		</div>
	        <!-- DELTE CONFIRMATION MODAL -->
			<div id="confirmDeleteModal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Confirm Deletion</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body text-center ">
							<p>Are you sure you want to delete this Product?</p>
						</div>
						<div class="modal-footer d-flex justify-content-center">
							<button type="button" class="btn btn-danger text-right" id="confirm-delete">Delete</button>
							<button type="button" class="btn btn-secondary text-right" id="cancel-delete"
								data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>
{% endblock %}

{% block scripts %}
<script>

$(document).on('click', '#delete-btn', function (e) {
        e.preventDefault(); // Prevent default link behavior

        var productId = $(this).data('id'); // Get PRODUCT ID from data attribute
        if (!productId) {
            alert('Product ID not found.');
            return;
        }

        // Store the productId in the modal's confirm button for reference
        $('#confirm-delete').data('id', productId);

        // Show the confirmation modal
        $('#confirmDeleteModal').modal('show');
    });

    // Handle the confirmation of deletion
    $(document).on('click', '#confirm-delete', function () {
        var productId = $(this).data('id'); // Retrieve product ID from the modal's confirm button

        if (!productId) {
            alert('Product ID not found.');
            return;
        }

        // Construct the URL dynamically
        const baseUrl = "{% url 'product-view' %}";
        const deleteUrl = `${baseUrl}${productId}/`;

        // Perform the AJAX request for deletion
        $.ajax({
            url: deleteUrl,
            type: 'POST',
            data: JSON.stringify({ 'product_id': productId }),
            contentType: 'application/json',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}', // Add CSRF token header
            },
            success: function (response) {
                if (response.success) {
                    console.log('Delete successful, reloading page...');

                    // Close the modal after success
                    $('#confirmDeleteModal').modal('hide');

                    // Reload the page immediately after successful deletion
                    window.location.reload(true); // Force reload (bypass cache)
                } else {
                    alert('Error: ' + response.message);
                    console.error('Delete failed: ' + response.message);
                }
            },
            error: function (xhr, status, error) {
                alert('An error occurred: ' + error);
                console.error('AJAX error:', error);
            }
        });
    });

    // Handle the cancel button to close the modal
    $(document).on('click', '#cancel-delete, .close', function () {
        $('#confirmDeleteModal').modal('hide'); // Explicitly hide the modal on cancel
    });


	$(document).on('click', '.status-checkbox', function () { 
    var productId = String($(this).data('id')); // Get the product ID
    var isActive = $(this).is(':checked'); // Get the checkbox state (true/false)

    if (productId) {
        const baseUrl = "/product/update-product-status/";
        const updateUrl = `${baseUrl}${productId}/`; // URL for updating product status

        $.ajax({
            url: updateUrl,
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token
            },
            data: {
                status: isActive // Send the boolean value directly
            },
            success: function (response) {
                if (response.success) {
                    window.location.reload(); // Reload the page
                } else {
                    alert('Failed to update status: ' + response.message);
                }
            },
            error: function (xhr, status, error) {
                alert('Error updating status: ' + error);
            }
        });
    } else {
        alert('Product ID not found.');
    }
});	


	$(document).ready(function () {
		$('.status-checkbox').change(function () {
			var productId = $(this).data('id');
			var status = $(this).is(':checked');
			const updateUrl = `/update-product-status/${productId}/`;  // Check URL structure

			if (!productId) {
				alert('Product ID not found.');
				return;
			}

			$.ajax({
				url: updateUrl,
				type: 'POST',
				data: {
					status: status,
					csrfmiddlewaretoken: '{{ csrf_token }}'  // Ensure CSRF token is properly set
				},
				success: function (response) {
					if (response.success) {
						alert('Status updated successfully');
						window.location.reload();
					} else {
						alert('Failed to update status');
					}
				},
				// error: function (xhr, status, error) {
				// 	alert('Error updating status');
				// }
			});
		});
	});
	$(document).ready(function () {
	$('.view-product-btn').on('click', function () {
		const productId = $(this).data('product-id');

		$.ajax({
		type: 'POST',
		url: `/product/view-product/${productId}/`,
		headers: { 'X-CSRFToken': '{{ csrf_token }}' },
		success: function (response) {
			if (response.success) {
			const data = response.data;

			// Fill basic fields
			$('#view_name').val(data.name);
			$('#view_category').val(data.category.name);
			$('#view_owner').val(data.product_owner.name);
			$('#view_processing_agencies').val(data.processing_agencies?.name || '');
			$('#view_drawing_applicable').val(data.drawing_applicable);
			$('#view_end_uses').val(data.end_uses?.name || '');
			$('#view_specific_use').val(data.specific_use);
			$('#view_shelf_life_value').val(data.shelf_life_value);
			$('#view_shelf_life_unit').val(data.shelf_life_unit);
			$('#view_testing_agencies').val(data.testing_agencies?.name || '');

			$('#view_components').val(data.components.map(c => c.name).join(', '));
			$('#view_rawmaterial').val(data.rawmaterial.map(r => r.name).join(', '));
			$('#view_consumable').val(data.consumable.map(c => c.name).join(', '));
			$('#view_equipment').val(data.equipment.map(e => e.name).join(', '));
			$('#view_process').val(data.process.map(p => p.name).join(', '));

			// Fill drawings
			const drawingsContainer = $('#view_drawings');
			drawingsContainer.empty();
			if (data.drawings && data.drawings.length > 0) {
				data.drawings.forEach(d => {
				drawingsContainer.append(`
					<div class="mb-2">
					<strong>Title:</strong> ${d.drawing_title}<br>
					<strong>Number:</strong> ${d.drawing_number}<br>
					<strong>Status:</strong> ${d.drawing_status}<br>
					${d.drawing_document ? `<a href="${d.drawing_document}" target="_blank">Download</a>` : 'No file'}
					</div><hr>
				`);
				});
			} else {
				drawingsContainer.html('<p>No drawings available.</p>');
			}

			// Fill product documents
			const docsContainer = $('#view_documents');
			docsContainer.empty();
			if (data.documents && data.documents.length > 0) {
				data.documents.forEach(doc => {
				const fileLinks = doc.files.map(f => `<li><a href="${f.file_url}" target="_blank">${f.file_name}</a></li>`).join('');
				docsContainer.append(`
					<div class="mb-2">
					<strong>Title:</strong> ${doc.title} (${doc.category})<br>
					<strong>Issue No:</strong> ${doc.issue_no} | <strong>Revision No:</strong> ${doc.revision_no}<br>
					<strong>Release Date:</strong> ${doc.release_date} | <strong>Approved By:</strong> ${doc.approved_by}<br>
					<strong>Validity:</strong> ${doc.validity} years<br>
					<strong>Files:</strong><ul>${fileLinks}</ul>
					</div><hr>
				`);
				});
			} else {
				docsContainer.html('<p>No product documents available.</p>');
			}

			$('#viewProductModal').modal('show');
			} else {
			alert('Product not found.');
			}
		},
		error: function () {
			alert('Failed to fetch product details.');
		}
		});
	});
	});

</script>
{% endblock %}
