<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                {% if not 'QA' in request.user.groups.all|join:", " %}
                <li class="submenu-open">
                    <h6 class="submenu-hdr">User Management</h6>
                    <ul>
                        <li>
                            <a href="{% url 'user-dashboard' %}"><i data-feather="grid"></i><span>Dashboard</span></a>
                        </li>
                        {% if request.user.role and request.user.role.name == "SDA" %}

                        <li>
                            <a href="{% url 'equipment-list' %}"><i data-feather="grid"></i><span>Equipments</span></a>
                        </li>

                        <li> {% if request.user.role and request.user.role.name == "SDA" %}

                            {% endif %}


                            
                            <a href="{% url 'user-list' %}"><i data-feather="grid"></i><span>Users</span></a>
                        </li>
                        {% endif%}
                        <li>
                            <a href="{% url 'acceptance-list' %}"><i data-feather="grid"></i><span>Acceptance
                                    Test</span></a>
                        </li>


                        <li>
                            <a href="{% url 'raw-material' %}"><i data-feather="grid"></i><span>Rawmaterial</span></a>
                        </li>
                        <li>
                            <a href="{% url 'raw-material-batch-fetch' %}"><i data-feather="grid"></i><span>Rawmaterial
                                    Batch</span></a>
                        </li>
                        <li>
                            <a href="{% url 'consumable-list' %}"><i data-feather="grid"></i><span>Consumable</span></a>
                        </li>
                        <li>
                            <a href="{% url 'consumable-batch-fetch' %}"><i data-feather="grid"></i><span>Consumable
                                    Batch</span></a>
                        </li>
                        <li>
                            <a href="{% url 'component-list' %}"><i data-feather="grid"></i><span>Component</span></a>
                        </li>
                        <li>
                            <a href="{% url 'component-batch-fetch' %}"><i data-feather="grid"></i><span>Component
                                    Batch</span></a>
                        </li>
                        <li>
                            <a href="{% url 'process_list' %}"><i data-feather="grid"></i><span>Process</span></a>
                        </li>
                        <li>
                            <a href="{% url 'product-home' %}"><i data-feather="grid"></i><span>Product</span></a>
                        </li>
                        <!-- <li>
                            <a href="{% url 'product-batch-list' %}"><i data-feather="grid"></i><span>Product
                                    Batch</span></a>
                        </li> -->




                    </ul>
                </li>
  {% endif %}

                <li class="submenu-open">
                    <h6 class="submenu-hdr">Miscellaneous Data Management</h6>
                    <ul>
                        <li>
                            <a href="{% url 'unit-list' %}"><i data-feather="grid"></i><span>Units</span></a>
                        </li>

                        <li>
                            <a href="{% url 'grade-list' %}"><i data-feather="grid"></i><span>Grade</span></a>
                        </li>

                        <li>
                            <a href="{% url 'enduse-list' %}"><i data-feather="grid"></i><span>Enduse</span></a>
                        </li>

                        <!-- <li>
                            <a href="{% url 'productcategory-list' %}"><i data-feather="grid"></i><span>Product Category</span></a>
                        </li> -->
                        
                        <li>
                            <a href="{% url 'documenttype-list' %}"><i data-feather="grid"></i><span>Document
                                    Type</span></a>
                        </li>

                        <li>
                            <a href="{% url 'center-list' %}"><i data-feather="grid"></i><span>Center</span></a>
                        </li>
                        <li>
                            <a href="{% url 'division-list' %}"><i data-feather="grid"></i><span>Division</span></a>
                        </li>

                        <li>
                            <a href="{% url 'source-list' %}"><i data-feather="grid"></i><span>Source</span></a>
                        </li>

                        <li>
                            <a href="{% url 'supplier-list' %}"><i data-feather="grid"></i><span>Supplier</span></a>
                        </li>
                    </ul>
                </li>

                <li class="submenu-open">
                    <h6 class="submenu-hdr">Report Generation</h6>
                    <ul>
                        <li>
                            <a href="#"><i data-feather="grid"></i><span>Process Log-Sheet</span></a>
                        </li>
                        <li>
                            <a href="{% url 'clearance' %}"><i data-feather="grid"></i><span>Stage Clearance</span></a>
                        </li>
                        <li>
                            <a href="#"><i data-feather="grid"></i><span>Q.A.R-Report</span></a>
                            {% comment %} {% url 'generate_qar' %} {% endcomment %}
                        </li>
                    </ul>
                </li>
                {% if not request.user.groups.filter.name == 'QA' %}
                <!-- Only show Roles Management if user is NOT in QA group -->


                <li class="submenu-open">
                    <h6 class="submenu-hdr">Roles Management</h6>
                    <ul>
                        <li>
                            <a href="{% url 'group-list' %}"><i data-feather="grid"></i><span>Groups</span></a>
                        </li>
                    </ul>
                </li>
{% endif %}

            </ul>
        </div>
    </div>
</div>