{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
	<div class="content">
		<div class="page-header">
			<div class="page-title">
				<h4>Unit Add</h4>
				<h6>Create new unit</h6>
			</div>
		</div>
		<!-- /add -->
		<div class="card">
			<div class="card-body">
				<div class="row">

					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label> Name</label>
							<input type="text" id="unit_name" name="unit_name" class="form-control">
							<div id="name-error" style="color: red; display: none;"></div>

						</div>
					</div>

					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label> Abbreviation</label>
							<input type="text" id="unit_abbreviation" name="unit_abbreviation" class="form-control">
							<div id="abbreviation-error" style="color: red; display: none;"></div>

						</div>
					</div>

					<div class="col-lg-12">
						<a href="unit.html" id="submit-btn" class="btn btn-submit me-2">Submit</a>
						<a href="{% url 'unit-list' %}" class="btn btn-cancel">Cancel</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /add -->


		<div class="page-header">
			<div class="page-title">
				<h4>Unit List View</h4>
				<!-- <h6>Manage your products</h6> -->
			</div>
		</div>


		<!-- /product list -->
		<div class="card">
			<div class="card-body">
				<div class="table-top">
					<div class="search-set">
						<div class="search-path">
							<a class="btn btn-filter" id="filter_search">
								<img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
								<span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
							</a>
						</div>
						<div class="search-input">
							<a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}"
									alt="img"></a>
						</div>
					</div>
					<div class="wordset">
						<ul>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
										src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
										src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
										src="{% static 'assets/img/icons/printer.svg' %}" alt="img"></a>
							</li>
						</ul>
					</div>
				</div>

				<!-- table iterations -->
				<div class="table-responsive">
					<table class="table datanew">
						<thead>
							<tr>

								<th>ID</th>
								<th>Unit Name</th>
								<th>Unit Abbreviation</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% if units %}
							{% for unit in units %}
							<tr>

								<td>{{ unit.id }}</td>
								<td>{{ unit.name }}</td>
								<td>{{ unit.abbreviation }}</td>
								<td>
									<a class="me-3 view-user-btn" data-bs-toggle="modal"
									data-bs-target="#updateUnitModal" data-id="{{ unit.id }}">
									<img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
								</a>
									<a id="delete-unit-btn" data-id="{{ unit.id }}">
										<img src="{% static 'assets/img/icons/delete.svg' %}" alt="img">
									</a>
								</td>
							</tr>
							{% endfor %}
							{% else %}

						{% endif %}
						</tbody>
					</table>
				</div>



			</div>
		</div>
<!-- Modal for Updating unit -->
<div class="modal fade" id="updateUnitModal" tabindex="-1" aria-labelledby="updateUnitModal"
aria-hidden="true">
<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="updateUnitModalLabel">Update Unit</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<form id="updateUnitForm" class="row">
				<input type="hidden" id="unit_id" name="unit_id" value="">

				<!-- Fields for source data -->
				<div class="col-6 mt-2">
					<label for="unit_n" class="form-label">Unit Name</label>
					<input type="text" class="form-control" id="unit_n" name="unit_n"
						placeholder="unit Name"></input>
				</div>

				<!-- Populate dropdowns dynamically -->
				<div class="col-6 mt-2">
					<label for="unit_abb" class="form-label">Abbreviation</label>
					<input type="text" class="form-control" id="unit_abb" name="unit_abb"></input>
				</div>

				

				<div class="d-flex justify-content-center mt-3">
					<button type="button" class="btn btn-primary btn-sm" id="updateUnit">Update</button>
				</div>

			</form>
		</div>
	</div>
</div>
</div>


<!-- DELTE CONFIRMATION MODAL -->
<div id="confirmDeleteModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirm Deletion</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center ">
				<p>Are you sure you want to delete this Unit?</p>
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button type="button" class="btn btn-danger text-right" id="confirm-delete">Delete</button>
				<button type="button" class="btn btn-secondary text-right" id="cancel-delete"
					data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>







	</div>





	{% endblock %}
	{% block scripts %}
	<script>
		$(document).ready(function () {
			$('#submit-btn').click(function (event) {
				event.preventDefault(); // Prevent the default form submission
				var name = $('#unit_name').val();
				var abbreviation = $('#unit_abbreviation').val();

				$.ajax({
					type: 'POST',
					url: '{% url "unit-list" %}', //  Replace with your Django URL for adding a supplier
					data: {

						'name': name,
						'abbreviation': abbreviation,
						'csrfmiddlewaretoken': '{{ csrf_token }}'
					},
					success: function (response) {



						$('#abbreviation-error').hide().text('');
						$('#name-error').hide().text('');

						if (response.success) {
							window.location.reload()
						} else {
							//$('#error-message').text(response.message).show(); // Show error message
							$('#abbreviation-error').text(response.result[0].abbreviation).show();
							$('#name-error').text(response.result[0].name).show();
						}
					},
					error: function () {
						//$('#error-message').text('An error occurred. Please try again.').show(); // Show error message
						$('#abbreviation-error').text('An error occurred. Please try again.').show(); // Show error message
						$('#name-error').text('An error occurred. Please try again.').show(); // Show error message
					}
				});
			});
		});

// Open edit modal and populate fields
$('.view-user-btn').on('click', function () {
	const unitId = $(this).data('id');
	const editUrl = `/unit/view/${unitId}/`;

	$.ajax({
		type: 'GET',
		url: editUrl,
		success: function (response) {
			if (response && response.data) {
				$('#unit_id').val(response.data.id);
				$('#unit_n').val(response.data.name);
				$('#unit_abb').val(response.data.abbreviation);  // Populate abbreviation

				

				// Clear any previous error messages
				$('#error-message').hide().text('');

				$('#updateGradeModal').modal('show');
			} else {
				alert('Failed to load data: ' + response.message);
			}
		},
		error: function () {
			alert('Failed to load data. Please try again.');
		}
	});


	// Handle update submission
	$('#updateUnit').off('click').on('click', function () {
		const unitId = $('#unit_id').val();
		const updateUrl = `/unit/edit/${unitId}/`;

		const updatedData = {
			name: $('#unit_n').val(),
			abbreviation: $('#unit_abb').val(),
			
		};

		$.ajax({
			type: 'PUT',
			url: updateUrl,
			data: JSON.stringify(updatedData),
			contentType: 'application/json',
			headers: {
				'X-CSRFToken': '{{ csrf_token }}'
			},
			success: function (response) {
				if (response.success) {
					location.reload(); // Reload the page on success
				} else {
					alert('Update failed: ' + response.message);
				}
			},
			error: function () {
				alert('An error occurred. Please try again.');
			}
		});
	});
});










		

$(document).ready(function () {
	$(document).on('click', '#delete-unit-btn', function (e) {
		e.preventDefault(); // Prevent default link behavior
		var unitId = $(this).data('id'); // Get the supplier ID from the button's data attribute
        //console.log("unit ID to delete:", gradeId); // Debug log
		if (!unitId) {
			alert('unit Id not found.');
				return;
			}
			$('#confirm-delete').data('id',unitId);
	
			// Show the confirmation modal
			$('#confirmDeleteModal').modal('show');
		});

		
// Handle the confirmation of deletion
$(document).on('click', '#confirm-delete', function () {
	var unitId = $(this).data('id'); // Retrieve center ID from the modal's confirm button

	if (!unitId) {
		alert('unit Id not found.');
		return;
	}



			const baseUrl = '/unit/';
			const deleteUrl = `${baseUrl}${unitId}/`; // URL for deleting unit0
	
			$.ajax({
				url: deleteUrl,
				type: 'POST', // Use POST for deleting supplier
				headers: {
					'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token in the headers
				},
				success: function (response) {
					if (response.success) {

				// Close the modal after success
				$('#confirmDeleteModal').modal('hide');



					window.location.reload(true); // Reload the page on success
					} else {
					alert('Error: ' + response.message);
					}
				},
				error: function (xhr, status, error) {
					alert('An error occurred: ' + error);
				}
			});
		
	});
	// Handle the cancel button to close the modal
	$(document).on('click', '#cancel-delete, .close', function () {
		$('#confirmDeleteModal').modal('hide'); // Explicitly hide the modal on cancel
	});
});


	</script>
	{% endblock %}